.main {
    font-family: $sf_mono;
    line-height: 1.2;
    background-color: var(--background-primary);
    padding: 0;

    h1 {
        font-weight: 700;
        font-size: 2.25rem;
        color: var(--accent-primary);
        margin: 0;
    }

    h2 {
        font-weight: 600;
        font-size: 2rem;
        color: var(--accent-primary);
        margin: 0;
    }

    h3 {
        font-weight: 700;
        font-size: 1.75rem;
        color: var(--accent-primary);
        margin: 0;
    }

    h4 {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--accent-primary);
        margin: 0;
    }

    h5 {
        font-weight: 700;
        font-size: 1.25rem;
        color: var(--accent-primary);
        margin: 0;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }

    &__link {
        color: var(--main-link);
        text-decoration: underline;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    &__border {
        border: 1px solid var(--separator-primary);
        border-radius: 0.5rem;
        padding: 1rem;
    }
}
